[submodule "homework-1-s25-xinyuJames"]
	path = homework-1-s25-xinyuJames
	url = https://github.com/ECEDataScience/homework-1-s25-xinyuJames.git
[submodule "homework-2-s25-xinyuJames"]
	path = homework-2-s25-xinyuJames
	url = https://github.com/ECEDataScience/homework-2-s25-xinyuJames.git
