[submodule "homework-1-s25-xinyuJames"]
	path = homework-1-s25-xinyuJames
	url = https://github.com/ECEDataScience/homework-1-s25-xinyuJames.git
[submodule "homework-2-s25-xinyuJames"]
	path = homework-2-s25-xinyuJames
	url = https://github.com/ECEDataScience/homework-2-s25-xinyuJames.git
[submodule "homework-3-s25-xinyuJames"]
	path = homework-3-s25-xinyuJames
	url = https://github.com/ECEDataScience/homework-3-s25-xinyuJames.git
[submodule "homework-4-s25-xinyuJames"]
	path = homework-4-s25-xinyuJames
	url = https://github.com/ECEDataScience/homework-4-s25-xinyuJames.git
[submodule "homework-5-s25-xinyuJames"]
	path = homework-5-s25-xinyuJames
	url = https://github.com/ECEDataScience/homework-5-s25-xinyuJames.git
[submodule "homework-6-s25-xinyuJames"]
	path = homework-6-s25-xinyuJames
	url = https://github.com/ECEDataScience/homework-6-s25-xinyuJames.git
[submodule "homework-7-s25-xinyuJames"]
	path = homework-7-s25-xinyuJames
	url = https://github.com/ECEDataScience/homework-7-s25-xinyuJames.git
[submodule "homework-8-s25-xinyuJames"]
	path = homework-8-s25-xinyuJames
	url = https://github.com/ECEDataScience/homework-8-s25-xinyuJames.git
[submodule "homework-9-s25-xinyuJames"]
	path = homework-9-s25-xinyuJames
	url = git@github.com:ECEDataScience/homework-9-s25-xinyuJames.git
